DB_HOST=localhost
DB_PORT=3306
DB_NAME=ewallet_db

DB_USERNAME=your_username
DB_PASSWORD=your_password

JWT_SECRET=your_jwt_secret

JWT_ACCESS_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000

SERVER_PORT=8080

CLIENT_URL=http://localhost:3000

MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587

MAIL_USERNAME=your_brevo_username
MAIL_PASSWORD=your_brevo_smtp_key